.nav-list {
    display: flex;
    align-items: left;

}
.nav-list2{
    margin-top: 5px;
}
body{
    font-family: "Poppins", sans-serif;
    background-color: rgba(202, 202, 202, 0.3);
}
h1{
    margin-left: 40px;
}
.nav-list1{
    display: flex;
    gap: 10px;
    padding: 0;
}
.nav-list2{
    display: flex;
    gap: 10px;
    padding: 0;
}
.nav-list3{
    display: flex;
    gap: 10px;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.nav-logo img{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.nav-name{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}
.navname{
    font-size: 15px;
    font-weight: bold;
    color: white;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    padding: 0;
}
.nav-item a{
    padding: 10px 8px;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.5);
}
.nav-item a:hover {
    border-bottom: solid 1px;
}
.nav-item i {
    font-size: 15px;
    color: white;
    border: solid 1px;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}
.new-reservation {
    background-color: #c587e2;
    color: white;
    padding: 10px 25px;
    border-radius: 10px;
    /* text-decoration: none; */
    font-size: 16px;
    border: none;
}
.calendar{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 5%;
    justify-content: right
}
.content1{
    display: grid;
    grid-template-columns: auto auto;
}
.container1{
    margin-top: 70px;
}
.header-container{
    background-color: black;
    color: white;
    padding: 30px;
    border-radius: 20px;
}
.checkin{
    padding: 10%;
    background-color: rgb(27, 238, 27);
    align-items: center;
    text-align: center;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}
.checkout{
    padding: 10%;
    background-color: rgb(12, 12, 12);
    color: white;
    font-size: 13px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}
.active-bookings{
    line-height: 5px;
    padding: 15px;
    background-color: white;
    border-radius: 15px;
    align-self: start;
}
.percent{
    font-size: 35px;
    font-weight: bold;
}
.text{
    color: rgba(0, 0, 0, 0.6);
}
.increment{
    padding: 7px;
    background-color: rgb(139, 245, 139);
    color: rgb(7, 82, 7);
    font-size: 14px;
    justify-content: center;
}
.decrement{
    padding: 7px;
    background-color: rgb(245, 141, 141);
    color: rgb(124, 14, 14);
    font-size: 12px;
    justify-content: center;
}
.percentage{
    margin-top: 40px;
    display: flex;
    gap: 1vw;
    align-items: center;
}
.dropdown-list{
    display: inline;
    line-height: 20px;
    align-items: center;
    text-align: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    margin: 0;
    padding: 0;
    width: 10%;
    display: none;
}
.dropdown-item1, .dropdown-item2, .dropdown-item3, .dropdown-item4, .dropdown-item5 {
    cursor: pointer;
}
.chart-container{
    margin-top: 20px;
    background-color: rgb(0, 0, 0);
    width: 70px;
    height: 70px;
    padding: 20px;
    margin-top: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.month{
    margin-top: 20px;
    text-align: center;
}
.vertical-line{
    width: 1px;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.3);
}
.charts-container{
    display: flex;
    align-items: center;
    gap: 1px;
    padding: 0;
    margin: 0;
}
.main-chart-container{
    display: flex;
    flex-direction: row;
}
.chart-container2{
    margin-top: 20px;
    background-color: rgb(135, 226, 49);
    width: 70px;
    height: 50px;
    padding: 20px;
    margin-top: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.chart-container3{
    margin-top: 20px;
    background-color: rgb(194, 33, 226);
    width: 70px;
    height: 30px;
    padding: 20px;
    margin-top: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.number1{
    position: absolute;
    top: 2100px;
}
.number2{
    position: absolute;
    top: 1900px;
    left: 140px;
}
.number3{
    position: absolute;
    top: 1900px;
    left: 252px;
}
.charts{
    margin-top: 20px;
}
.status{
    background-color: rgb(27, 238, 27);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 10px;
    justify-content: center;
    text-align: center;
    align-content: center;
}
table{
    margin-top: 30px;
    line-height: 30px;
}
td{
    padding: 7px;
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
th{
    text-align: left;
    padding: 7px;
    font-size: 12px;
}
.new-booking-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.active{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.table{
    background-color: #fff;
    padding: 10px;
    border-radius: 15px;
    height: 500px;
    /* align-self: stretch; */
    overflow-y: auto;
}
.body-container1{
    display: grid;
    grid-template-columns: 95px 95px 235px 235px 235px;
    gap: 10px;
    /* align-self: start; */
}
.text{
    font-size: 12px;
}
.new-big-div{
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-radius: 15px;
    margin-top: 20px;
}
.new-booking-title{
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
}
.check-in-logo{
    margin-top: 30px;
}
.big-table-container{
    display: grid;
    gap: 10px;
    grid-template-columns: 935px;
}
.new-orders-text{
    font-size: 14px;
    margin-bottom: 10px;
}
.order-number{
    font-size: 35px;
    font-weight: bold;
}
.orders-details-container{
    background-color: rgba(54, 53, 109, 0.384);
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 15px;
    border-radius: 10px;
}
.fa-solid.fa-utensils{
    font-size: 20px;
    color : purple;
    padding: 7px;
    background-color: rgba(128, 0, 128, 0.425);
    border-radius: 50%;
}
.content2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 20px;
    margin-left: 35px;
}
.fa-solid.fa-fire{
    font-size: 20px;
    color : rgb(255, 230, 0);
    padding: 7px;
    background-color: rgba(229, 255, 0, 0.425);
    border-radius: 50%;
}
.fa-solid.fa-bowl-food{
    font-size: 20px;
    color : rgb(33, 226, 120);
    padding: 7px;
    background-color: rgba(33, 226, 120, 0.425);
    border-radius: 50%;
}
.fa-solid.fa-xmark{
    font-size: 20px;
    color : rgb(255, 0, 0);
    padding: 7px;
    background-color: rgba(255, 0, 0, 0.425);
    border-radius: 50%;
}
.order-status-text{
    color: rgba(0, 0, 0, 0.493);
}
.order-status{
    margin: 10px 0;
}
.filter-by{
    color: rgba(0, 0, 0, 0.493);
}
.filter-by-item{
    margin: 10px 0;
    color: black;
}
.filters-container{
    padding: 5px 20px;
    background-color: #fff;
    border-radius: 20px;
}
.food-item-header-details{
    display: flex;
    align-items: center;
    line-height: 0px;
    gap: 5px;
}
.food-orderer-name-jerome{
    color: black;
}
.food-item-order{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.493);
}
.food-item-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.status-new{
    background-color: rgba(6, 252, 80, 0.308);
    color:   rgb(33, 226, 97);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
}
.food-item-buyer{
    display: flex;
    line-height: 10px;
    gap: 30px;
}
.food-item-buyer-name{
    color: rgba(0, 0, 0, 0.438);
}
.food-item-buyer-payment-text{
    color: rgba(0, 0, 0, 0.438);
}
.first-food-item{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.additionalitems{
    display: flex;
    justify-content: end;
    line-height: 2px;
    color: rgba(0, 0, 0, 0.438);
}
.order-note-main{
    line-height: 7px;
}
.order-note{
     color: rgba(0, 0, 0, 0.438);
}
.order-details{
    justify-content: center;
    border: 1px solid rgba(3, 3, 3, 0.336);
    display: flex;
    margin-top: 10px;
    padding: 10px 0;
    border-radius: 30px;
}
.food-items{
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 10px;
    column-gap: 10px;
    height: 470px;
    overflow-y: auto;
}
.food-items-container{
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}
.big-container{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}
.food-item-buyer-details{
    background-color: rgba(202, 202, 202, 0.3);
    margin: 5px;
    padding: 0 10px;
    border-radius: 10px;
}
.food-item-buyer-address{
    background-color: rgba(202, 202, 202, 0.3);
    padding: 0 10px;
    margin: 5px;
    border-radius: 10px;
}
.filters-container{
    align-self: start;
}
.food-item-buyer{
    margin-top: 20px;
}
.beef-steak{
    width: 15%;
    border-radius: 10px;
}
.order-note-main{
    margin-top: 10px;
    padding: 5px;
    background-color: rgba(202, 202, 202, 0.3);
}
.month-div{
    position: absolute;
    right: 110px;
}
